 @import url('bootstrap-override.css');

/*@import url('jquery-ui-1.10.3.css');*/
 @import url('font-awesome.min.css');
 @import url('animate.min.css');
 @import url('animate.delay.css');

/* STICKY HEADER */
 .stickyheader {
    padding-top: 10px;
}

.menutoggle {
    float: left;
    width: 50px;
    height: 50px;
    font-size: 24px;
    padding: 13px 0 0 14px;
    cursor: pointer;
    float: left;
    color: #5b7e9c;
    background: #ffffff;
    border-right: 1px solid #ddd;
    -moz-border-radius: 6px 0px 0px 0px;
    -webkit-border-radius: 6px 0px 0px 0px;
    border-radius: 6px 0px 0px 0px;
}
.menutoggle:hover {
    color: #cccccc;
    background-color: #f9f9f9;
}
.searchform input {
    width: 250px;
    background: #fff url(../images/icon-search.png) no-repeat 95% center;
    float: left;
    padding: 18px 20px;
    border: 0;
    border-right: 1px solid #eee;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 50px;
    font-size: 14px;
}
.searchform input:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
}
/***** LEFT PANEL *****/
 .leftpanel {
    width: 240px;
    position: absolute;
    z-index: 999;
    transition: width 0.25s;
    -moz-transition: width 0.25s;
    -webkit-transition: width 0.25s;
	border-right:1px solid #ddd;
}
.sticky-leftpanel {
    position: fixed;
    overflow-y: auto;
}
.bs-docs-sidebar.affix {position:fixed;top:28px; z-index:3007; width:240px }
.leftpanelinner {
    padding: 0px;
    background: #f1f2f4;
    -moz-border-radius: 0px 0px 0px 6px;
    -webkit-border-radius: 0px 0px 0px 6px;
    border-radius: 0px 0px 0px 6px;
}
.leftpanel .searchform {
    background: #ffffff;
}
.leftpanel-collapsed .searchform {
    display: none;
}
.leftpanel .searchform input {
    padding: 10px;
    height: 50px;
    width: 100%;
    margin: 0px 0 0px 0;
}
.nav-bracket > li > a {
    /*color: #666;*/
    padding: 7px 10px;
	border-bottom:1px solid #d6d6d6;
}
.nav-bracket > li > a:hover, .nav-bracket > li > a:active {
    background-color: #eee;
    color: #666;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.nav-bracket > li.nav-active > a:hover {
    background-image: url(../images/minus.png);
}
.nav-bracket > li.active > a, .nav-bracket > li.active > a:hover, .nav-bracket > li.active > a:focus {
    background-color: #fcfcfc;
    color: #666;
}
.nav-bracket > li.active > a {



}
/***** MAIN PANEL *****/

/**********************/
 .mainpanel {
    margin-left: 240px;
    background: clear;
    transition: margin-left 0.25s;
    -moz-transition: margin-left 0.25s;
    -webkit-transition: margin-left 0.25s;
}
.contentpanel {
    padding: 10px;
}
.contentpanelForm {
    padding: 10px;
    background-color: #e5e5e5;
    border: 1px #ccc solid;
}
/***** LEFT PANEL COLLAPSE *****/

/*******************************/
 .leftpanel-collapsed .form-control .search {
    z-index: -1;
}
.leftpanel-collapsed .leftpanel {
    width: 50px;
    overflow: hidden;
}
.leftpanel-collapsed .leftpanelinner {
    padding: 0;
    -moz-border-radius: 0px 0px 0px 6px;
    -webkit-border-radius: 0px 0px 0px 6px;
    border-radius: 0px 0px 0px 6px;
}
.leftpanel-collapsed .nav-bracket {
    margin: 0px;
}
.leftpanel-collapsed .nav-bracket li a {
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    position: relative;
}
.leftpanel-collapsed .nav-bracket li a span {
    position: absolute;
    background: #fff;
    padding: 15px 10px 10px 15px;
    left: 40px;
    top: 0;
    min-width: 179px;
    min-height: 50px;
    text-align: left;
    z-index: 100;
    display: none;
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.leftpanel-collapsed .mainpanel {
    margin-left: 50px;
    transition: margin-left 0.25s;
    -moz-transition: margin-left 0.25s;
    -webkit-transition: margin-left 0.25s;
}
/***** ADDITIONAL STYLES *****/

/*****************************/

/* CUSTOM STYLES */
 .ptn, .pvn, .pan {
    padding-top: 0 !important;
}
.ptx, .pvx, .pax {
    padding-top: 3px !important;
}
.pts, .pvs, .pas {
    padding-top: 5px !important;
}
.ptm, .pvm, .pam {
    padding-top: 10px !important;
}
.ptl, .pvl, .pal {
    padding-top: 20px !important;
}
.prn, .phn, .pan {
    padding-right: 0 !important;
}
.prx, .phx, .pax {
    padding-right: 3px !important;
}
.prs, .phs, .pas {
    padding-right: 5px !important;
}
.prm, .phm, .pam {
    padding-right: 10px !important;
}
.prl, .phl, .pal {
    padding-right: 20px !important;
}
.pbn, .pvn, .pan {
    padding-bottom: 0 !important;
}
.pbx, .pvx, .pax {
    padding-bottom: 3px !important;
}
.pbs, .pvs, .pas {
    padding-bottom: 5px !important;
}
.pbm, .pvm, .pam {
    padding-bottom: 10px !important;
}
.pbl, .pvl, .pal {
    padding-bottom: 20px !important;
}
.pln, .phn, .pan {
    padding-left: 0 !important;
}
.plx, .phx, .pax {
    padding-left: 3px !important;
}
.pls, .phs, .pas {
    padding-left: 5px !important;
}
.plm, .phm, .pam {
    padding-left: 10px !important;
}
.pll, .phl, .pal {
    padding-left: 20px !important;
}
.mtn, .mvn, .man {
    margin-top: 0px !important;
}
.mtx, .mvx, .max {
    margin-top: 3px !important;
}
.mts, .mvs, .mas {
    margin-top: 5px !important;
}
.mtm, .mvm, .mam {
    margin-top: 10px !important;
}
.mtl, .mvl, .mal {
    margin-top: 20px !important;
}
.mrn, .mhn, .man {
    margin-right: 0px !important;
}
.mrx, .mhx, .max {
    margin-right: 3px !important;
}
.mrs, .mhs, .mas {
    margin-right: 5px !important;
}
.mrm, .mhm, .mam {
    margin-right: 10px !important;
}
.mrl, .mhl, .mal {
    margin-right: 20px !important;
}
.mbn, .mvn, .man {
    margin-bottom: 0px !important;
}
.mbx, .mvx, .max {
    margin-bottom: 3px !important;
}
.mbs, .mvs, .mas {
    margin-bottom: 5px !important;
}
.mbm, .mvm, .mam {
    margin-bottom: 10px !important;
}
.mbl, .mvl, .mal {
    margin-bottom: 20px !important;
}
.mln, .mhn, .man {
    margin-left: 0px !important;
}
.mlx, .mhx, .max {
    margin-left: 3px !important;
}
.mls, .mhs, .mas {
    margin-left: 5px !important;
}
.mlm, .mhm, .mam {
    margin-left: 10px !important;
}
.mll, .mhl, .mal {
    margin-left: 20px !important;
}
.nomargin {
    margin: 0;
}
.nopadding {
    padding: 0;
}
.border-right-0 {
    border-right: 0;
}
.border-left-0 {
    border-left: 0;
}
.padding5 {
    padding: 5px;
}
.padding10 {
    padding: 10px;
}
.dark {
    color: #333;
}
.width100p {
    width: 100%;
}
.width20 {
    width: 20px;
}
.width30 {
    width: 30px;
}
/***** MEDIA QUERIES *****/

/*************************/
 @media screen and (max-width: 767px) {
    .searchform {
        position: relative;
    }
    .headermenu li:nth-child(4) {
        display: none;
    }
    .leftpanel .searchform, .leftpanel .userlogged {
        display: block;
    }
    .rightpanel .nav-tabs.nav-justified > li > a, .rightpanel .nav-justified > li > a {
        margin-bottom: 0;
    }
	
	.serviceCaption{
		min-height: 45px;
	}
	
}
@media screen and (max-width: 640px) {
    .nav-tabs.nav-justified.nav-profile > li {
        float: none;
        margin-bottom: 0;
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified.nav-profile > li a {
        margin: 0;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }
    .dataTables_info {
        float: none !important;
        text-align: center;
        margin-bottom: 10px;
    }
    .dataTables_paginate {
        margin-bottom: 10px;
        text-align: center !important;
        float: none !important;
    }
    .paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
        float: none !important;
    }
    .dataTables_filter, .dataTables_length {
        float: none !important;
        padding: 10px 0 0 10px;
        margin: auto !important;
        display: inline-block;
    }
    .table.dataTable th, .table.dataTable td {
        font-size: 13px;
        min-width: 150px;
    }
    .paging_full_numbers {
        min-width: 500px;
        margin: 0 0 10px 10px;
    }
    .paging_full_numbers:after {
        clear: both;
        display: block;
        content:'';
    }
}
@media screen and (max-width: 480px) {
    .signinpanel, .signuppanel {
        width: 360px;
    }
    .panel-email .pull-right {
        float: none !important;
    }
    .pageheader h2 {
        font-size: 18px;
    }
    .pageheader .glyphicon, .pageheader .fa {
        font-size: 18px;
    }
    .pageheader h2 span {
        font-size: 11px;
    }
    .fc-header td {
        display: block !important;
        text-align: center;
        width: 100%;
        border: 1px solid #eee;
        padding: 10px !important;
        margin-top: -1px;
    }
    .fc-button {
        padding: 2px 5px !important;
        margin: 0 !important;
    }
    .fc-header-title h2 {
        margin: 0 !important;
    }
    .filemanager-options li {
        padding: 5px 7px;
    }
    .filemanager-options .filter-type {
        display: block;
        float: none;
        border-top: 1px solid #eee;
    }
    .comment-list .media-object {
        width: 30px;
        padding: 2px;
    }
    .comment-list .media > .pull-left {
        margin: 0;
    }
    .comment-list h4 {
        font-size: 13px;
    }
    .comment-list .reply {
        font-size: 10px;
        padding: 2px 5px;
    }
    .comment-list .media-body {
        font-size: 12px;
        line-height: 18px;
    }
    .blog-content form {
        margin-bottom: 20px;
    }
    .letter-list {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .letter-list::after {
        clear: both;
        display: block;
        content:'';
    }
    .letter-list li {
        float: left;
        width: auto;
        display: inline-block;
    }
    .letter-list li a {
        display: block;
        padding: 2px 5px;
    }
    .btn-invoice:before {
        display: block;
        content:'';
        clear: both;
    }
    .btn-invoice .btn {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .nav-tabs.nav-justified.nav-profile > li a {
        font-size: 13px;
        padding: 8px 8px;
    }
    #bloglist > div {
        padding: 0;
        margin: 0;
        float: none;
        width: auto;
    }
	.serviceCaption{
		min-height: 60px;
	}
}
@media screen and (max-width: 360px) {
    .blog-title {
        font-size: 14px;
        line-height: 18px;
    }
    .blog-summary {
        font-size: 12px;
        line-height: 18px;
    }
    .blog-summary .btn {
        padding: 2px 5px;
        display: block;
        width: 100%;
    }
    .headermenu li:first-child .dropdown-menu {
        margin-right: -130px;
    }
    .headermenu li:nth-child(2) .dropdown-menu {
        margin-right: -85px;
    }
    .headermenu li:nth-child(3) .dropdown-menu {
        margin-right: -37px;
    }
    .nav-tabs.nav-justified.nav-profile > li {
        float: none;
        display: block;
        width: auto;
    }
    .blog-media .media-body {
        overflow: visible;
    }
    .follower-list .btn {
        display: block;
        margin: 0 0 5px 0;
        width: 100%;
    }
    .filemanager-options li {
        display: block;
        border-top: 1px solid #eee;
    }
    .filemanager-options li:first-child {
        border-top: 0;
    }
    .authorpanel .media-object {
        width: 80px;
        margin-right: 10px;
    }
    .people-item .media-object {
        width: 80px !important;
        height: 80px !important;
    }
    .pagination {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 320px) {
    .signinpanel, .signuppanel {
        width: 310px;
    }
}
.menu-icon {
    width: auto;
    height: auto;
    transition: width 0.25s;
    -moz-transition: width 0.25s;
    -webkit-transition: width 0.25s;
	vertical-align:middle;
}
.menu-icon-small {
    width: 33px;
    height: 33px;
    transition: width 0.25s;
    -moz-transition: width 0.25s;
    -webkit-transition: width 0.25s;
}
.leftpanel-menu {
    padding: 25px 0px;
}
.Visa-Inquiry-and-Payment {
    background-image: url(../images/photos/blog2.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
}
.serviceCaption {
    background: url(../images/photos/greybg.gif) repeat-x;
    color: #666;
    clear: both;
    display: block;
    content:'';
    padding: 6px;
    border-top: 1px #ccc solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: -10px;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.428571429;
    background-color: transparent;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;	
}
.img-circle {
    border-radius: 50%
}
.bg-visaInqueryPayment {
    background-color: #eee;
}

.input-prepend, .input-prepend.input-fullwidth .input-wrapper {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.input-prepend.input-fullwidth {
    position: relative;
}
.input-prepend.input-fullwidth .input-wrapper {
    position: relative;
    display: block;
    left: 0px;
    /*height: 30px;*/
    /* 40 + 2*5 - 1 */
    right: 0;
    top: 0;
    bottom: 0;
}
.input-prepend.input-fullwidth .input-wrapper input {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-dialog.modal-sm {
    width: 300px;
}

.leftpanel .input-group{border-bottom:1px solid #ddd;}
.leftpanelinner .nav-bracket > li.active > a{width:101%;}
.leftpanel .form-control{border-right:0px;}